/* global */
html {
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url("img/background1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    position: relative;
    flex: 1;
    text-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

header {
		display: flex;
}

h1 {
    font-weight: 700;
    font-size: 850%;
    margin: 0;
    transition: font-size 0.1s;
}

h2 {
    font-size: 300%;
    margin: 0;
    margin-bottom: 0.5em;
}

p {
    margin: 0;
    margin-bottom: 0.5em;
}

a {
    text-decoration: none;
    color: white;
}

.topNav {
    /*border: 1px solid yellow;*/
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 7em;
    line-height: 48px;
}

.topNav a{
    color: white;
    width: 10%;
    text-align: center;
    padding-left: 2em;
}

.topNav .menu {
    margin-left: 0.5em;
}

.logo {
    width: 3em;
    height: 3em;
    margin-left: 10px;
}

.main-content {
    text-align: center;
    color: white;
}

.daily {
    margin: 0.5em;
    margin-bottom: 1.3em;
    font-size: 1.8em;
    font-weight: 300;
}

section i,
.momentum-btn-txt {
    color: black;
}

section i {
    /*border: 1px solid blue;*/
    margin-right: 0.2em;
}

.btn {
    border-radius: 3px;
    padding: 20px 25px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
    background: rgba(255, 255, 255, 0.95);
    width: 25%;
    margin: 0 auto;
    font-size: 1.2em;
    font-weight: bolder;
    transition: font-size 0.1s;
}

footer {
	  position: absolute;
    top: 100vh;
    transform: translateY(-100%);
    width: 100%;
}
.footerNav {
		display: flex;
		justify-content: flex-end;
		flex-direction: row;
    margin-top: 1.2em;
    padding: 20px;
}

.footerMenu a {
		margin-left: 1.2em;
}

/* IPHONE 6, 6 PLUS, GALAXY S5, NEXUS 5X, NEXUS 6P */
@media screen and (max-width: 701px){
    h1 {
        font-size: 500%;
    }
    h2 {
        font-size: 150%;
    }
    .topNav .menu {
		    font-size: 0.9em;
		}
    .main-content {
    	  transform: translateY(65%);
    }
    .daily {
        font-size: 100%;
        margin-top: 5.3em;
    }
    .btn {
        font-size: 0.75em;
        padding: 12px 14px;
    }
    footer {
    	  position: absolute;
		    top: 100vh;
		    transform: translateY(-100%);
		    width: 100%;
    }
    .footerMenu a {
        margin-left: 0.5em;
    }
}

/* IPHONE 5 */
@media screen and (max-width: 320px){
    h1 {
        font-size: 375%;
    }
    h2 {
        font-size: 130%;
    }
    .topNav .menu {		    
		    font-size: 0.8em;
		}
		.topNav a {
				padding-left: 1em;
		}
    .main-content {
    	  transform: translateY(15%);
    }
    .daily {
        font-size: 90%;
        margin-top: 2.3em;
    }
    .btn {
        font-size: 0.75em;
        padding: 7px 7px;
    }
    footer {
    	  position: absolute;
		    top: 100vh;
		    transform: translateY(-100%);
		    width: 100%;
    }
    .footerMenu a {
        margin-left: 0.5em;
        font-size: 0.6em;
    }
}
